
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: #e6e6fa; 
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

header h1 {
    margin-bottom: 10px;
    color: #000080; 
}

header p {
    font-style: italic;
    color: #505050; 
}
.nav-wrapper {
    width: 100%; /* Set the width of the navigation bar to 80% */
    margin: auto; /* Center the wrapper within its container */
}

nav {
    display: flex; /* Use flexbox to layout the links */
    justify-content: space-between; /* This will distribute items evenly across the available space */
    align-items: center; /* This will vertically align items in the middle */
    padding: 10px 0; /* Add some padding on top and bottom */
    background-color: #e6e6fa; /* Example background color */
}

nav {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    background-color: #e0ffff; 
    padding: 10px 0; 
}

nav a {
    text-decoration: none; 
    color: #000080; 
    font-weight: bold;
    padding: 10px 20px; 
}


nav table {
    width: 100%;
    table-layout: fixed; 
}

nav th {
    text-align: center; 
}

section {
    margin-bottom: 20px;
    padding: 0 15px;
}

h2, h3 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

article {
    background-color: #ffffff; 
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f8ff; 
    border-top: 2px solid #ccc;
}

footer p {
    color: #333;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    nav li {
        padding: 10px;
    }
}

.svg-container {
    max-width: 75%; /* ensures the container fits in the parent */
    height: auto; /* ensures the container's height adjusts to the SVG */
}

.responsive-svg {
    width: 100%; /* scales the SVG to the container's width */
    height: auto; /* scales the height proportionally */
    display: block; /* removes extra space below the image */
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #e9ecef;
    padding: 10px 0;
    text-align: center;
}

h1 {
    color: #333;
}

section {
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 15px;
}

h2 {
    color: #007bff;
}

ul, ol {
    margin-left: 20px;
}

strong {
    color: #212529;
}

footer {
    background: #e9ecef;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #495057;
}

